div.paginate{
    
    span {
        display: inline;
    }
    #sel-paginate{
        display: inline;
        width: 80px;
    }
    
    .page ul {
        float: right;
        margin: 0;
    }
}
